{
  "*.js": [
    "npm run lint",
    "npm run eslint",
    "git add --force"
  ],
  "*.ts": [
    "npm run lint",
    "npm run eslint",
    "git add --force"
  ],
  "*.tsx": [
    "npm run lint",
    "npm run eslint",
    "git add --force"
  ],
  "*.json": [
    "prettier --write",
    "git add --force"
  ],
  "*.scss": [
    "npm run stylelint:fix",
    "git add --force"
  ]
}